---
name: no-dns
services:
  webui:
    container_name: webui
    restart: "no"
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
    security_opt:
      - label=disable
    hostname: webui.ipa.test
    extra_hosts:
      - webui.ipa.test:192.168.56.10
    ports:
      - "5173:5173/tcp"
    networks:
      ipanet:
        ipv4_address: 192.168.56.10
    image: localhost/webui-no-dns:latest
    build:
      # You may set the desired distro/version setting:
      # args: {distro_image: fedora, distro_tag: latest}
      context: "${SCRIPT_DIR}/containerfiles"
      dockerfile: fedora
    volumes:
      - "${REPO_DIR}:/webui:Z"
networks:
  ipanet:
    x-podman.disable_dns: true
    name: webui-ipa-single-server
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.56.0/24
