body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.pf-v5-c-background-image {
  --pf-v5-c-background-image--BackgroundSize: cover;
  --pf-v5-c-background-image--BackgroundPosition: center;
}

code {
  font-size: 0.8em;
  background-color: rgb(222, 243, 255);
  padding: 0.2em;
}
