# SPDX-FileCopyrightText: 2022 Red Hat, Inc.
# SPDX-License-Identifier: GPL-3.0-or-later

---
name: Gating tests

on:
  pull_request:
  push:
    branches: [main, devel]

jobs:
  reuse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v1

  audit-and-build:
    name: Audit and build
    runs-on: ubuntu-latest
    container:
      image: fedora:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Audit dependencies
        run: npx audit-ci --config audit-ci.json

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Install project
        run: npm install

      - name: Prettier
        run: npm run prettier

      - name: Lint
        run: npm run lint

      - name: Build project
        run: npm run build

      - name: Upload dist folder
        uses: actions/upload-artifact@v3
        with:
          name: freeipa-webui-build
          path: dist/

  integration-tests:
    name: Integration tests
    needs: audit-and-build
    runs-on: macos-12

    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v3
        with:
          name: freeipa-webui-build
          path: dist

      - name: Cache Vagrant boxes
        uses: actions/cache@v2
        with:
          path: ~/.vagrant.d/boxes
          key: ${{ runner.os }}-vagrant-${{ hashFiles('Vagrantfile') }}
          restore-keys: |
            ${{ runner.os }}-vagrant-

      - name: Run vagrant up
        run: vagrant up --no-provision

      - name: Run vagrant provision
        run: vagrant provision

      - name: Run Cypress tests
        uses: cypress-io/github-action@v4

      - name: Upload cypress screenshots
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots

      - name: Upload cypress videos
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos
