---
name: Integration tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm clean-install

      - name: Add IPA Server's IP to /etc/hosts
        run: cat developer/scenarios/single-server/hosts | sudo tee -a /etc/hosts

      - name: Start testing container
        run: developer/dev-env.sh -s

      - name: Build webui
        run: developer/dev-env.sh -p

      - name: Run integration tests
        run: developer/dev-env.sh -c

      - name: Upload cypress screenshots
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots

      - name: Upload cypress videos
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-videos
          path: cypress/videos
